@font-face {
  font-family: "Neuzeit";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/NeuzeitSLTStd-Book.otf");
}
@font-face {
  font-family: "Neuzeit";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/NeuzeitSLTStd-BookHeavy.otf");
}
@font-face {
  font-family: "Andale Mono";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AndaleMono.ttf");
}

* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background: #FAF8F3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #463C39;
  text-decoration: none;
  border-bottom: 1px dotted #463C39;
}
a:hover {
  border-bottom: 1px solid #463C39;
}
.content {
  flex: 1;
  width: 440px;
  margin: 0;
  margin-bottom: 25px;
  color: #463C39;
  font-family: "Neuzeit", sans-serif;
  padding: 0 0 0 72px;
}
.content::before {
  content: "";
  display: block;
  position: fixed;
  min-height: 100%;
  width: 24px;
  left: 0;
  background-color: #DC4527;
}
.content h1 {
  font-size: 36px;
  margin: 48px 0 5px;
  font-weight: bold;
  color: #DC4527;
}
.content h2 {
  font-size: 17px;
  margin: 5px 0 50px;
  font-family: "Andale Mono", monospace;
  font-weight: normal;
}
.content p {
  font-size: 17px;
  line-height: 28px;
  font-weight: 200;
  text-align: justify;
  margin-bottom: 28px;
}
.content p.first {
  margin-top: 80px;
}
.content p.first::before {
  content: "";
  display: block;
  width: 75px;
  margin-bottom: 14px;
  border-top: 6px solid #DC4527;
}
header {
  position: relative;
  height: 28px;
  padding-top: 18px;
  font-family: "Andale Mono", monospace;
  font-size: 11px;
  border-bottom: 1px solid #DC4527;
}
header .email {
  position: absolute;
  line-height: 16px;
}
header .social {
  position: absolute;
  right: 0;
  font-size: 16px;
}
header .social a {
  border: none;
}
footer {
  position: relative;
  flex: none;
  width: 440px;
  height: 40px;
  left: 72px;
  padding: 12px 0 0;
  font-family: "Andale Mono", monospace;
  font-size: 11px;
  border-top: 1px solid #DC4527;
}
footer .made-in {
  position: absolute;
}
footer .date {
  position: absolute;
  right: 0;
}
@media (max-width: 540px) {
  .content {
    width: auto;
    padding: 0 24px;
  }
  .content::before {
    display: none;
  }
  footer {
    width: auto;
    left: 0;
    margin: 0 24px;
  }
}