@import "mixins.scss";

body {
  background: url("../img/body-bg.png") 0 0 repeat;
}

h1 {
  color: #222;
  font-family: "HelveticaNeue-CondensedBold", Helvetica, sans-serif;
  font-size: 48px;
  margin: 50px 0;
}
h2 {
  font-family: "HelveticaNeue-CondensedBold", Helvetica, sans-serif;
}
h3 {
  color: #555;
  font-family: Georgia, serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
}
p {
  color: #777;
  font-family: Georgia, serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 20px;
}
.item  {
  margin-bottom: 30px;
  h3 {
    margin: 10px 0 0 0;
  }
  p {
    margin: 0;
    color: #777;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
  }
}
#project {
  .item {
    margin-bottom: 50px;
  }
}
.thumbnail {
  padding: 0;
  border: 3px solid #fff;
  @include set-rounded-corners(0);
  @include set-box-shadow(0, 1px, 3px, 0, rgba(0,0,0,0.2));
}

.project {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}